
/* 
HEADER
*/

header{
  height: 80px;
  line-height: 80px;
}


/* logo */
header .logo{
  width: 12%;
  margin: 0px 10px;
}

header .logo img{
  vertical-align: middle;
}


/* menu */

header .menu{
  width: 35%;
}

header .start-button{
  width: 5%;
  margin-right: 15px;
}


/* decorazione testi menu */
header ul li{
  list-style: none;
  padding-right: 25px;
  display: inline-block;
}

header li:hover{
  border-bottom: 2px solid black;
}

header a{
  text-decoration: none;
  color: black;
}



/* 
MAIN
*/

/* hero-section */
.hero-section{
  background-color: #B4D0E7;
  padding: 80px 0;
  height: 70vh;
  margin-bottom: 100px;
}

.text-description{
  width: 30%;
  margin-right: 40px;
}

.img-description{
  width: 60%;
}

.img-description img{
  width: 100%;
}


.hero-section p{
  padding-top: 15px;
  margin-bottom: 15px;
}


.hero-section span{
  display: inline-block;
  font-size: 16px;
  
  margin-top: 20px;
  margin-bottom: 30px
}

.fa-arrow-down{
  font-size: 45px;
  color: black;
  text-transform: none;
  margin-bottom: 20px;
}


/* column-section */

.column-section{
  padding: 80px 0;
}

.column-section span{
  display: inline-block;
  margin-right: 10px;
}

.fa-circle-dot{
  color: #2661FF;
}


/* 
COLONNE 
*/

/* contenitore */
.column-container{
  margin-top: 30px;
}

/* colonne */
.column{
  width: calc((100% / 3) - 40px);
}

.center-column{
  margin: 0px 60px;
}






/* contenuto */
.content-column{
  padding: 25px;
}

/* spaziattura */
.spaziatura-little{
  margin-bottom: 10px;
}

.spaziatura-big{
  margin-bottom: 30px;
}


/* contenuti scritti dentro */
.card{
  border: 1px solid gray;
  min-height: 1200px;
}

.column-title{
  text-align: center;
  border-bottom: 1px solid;
  padding: 10px 0;;
}


.cta-pacchetto a{
  display: inline-block;
}

.cta-pacchetto span a{
  color: #2661FF;
}


.content-column strong, .content-column span{
  display: inline-block;
}

.content-column hr{
  margin-top: 15px;
  width:20%;
  color: gray;
}

.content-column ul {
  list-style: none;
}

.content-column ul li:before {
  content: '\2714';
  color: #2661FF;
}


/* colonna full width */

.column-full-width{
  border: 1px solid gray; 
  margin-top: 50px
}

.column-left{
  width: 70%;
}

.column-right{
  width: 30%;
  padding-top: 25px;
}



/* 
SEZIONE PARTNER 
 */

 .partnership{
   margin-bottom: 100px;
 }

 .partnership .partner-img img{
  width: 100%;
 }

.partnership .partner-text{
  padding: 100px 40px 0px 40px;
}

.partner-text p{
  font-size: 20px;
  line-height: 2rem;
}

.partner-text a{
  border: 1px solid black;
}

.bottone-cta{
  padding: 10px 15px;
  background-color: white;
  cursor: pointer;
  text-decoration: none;
  color: black;
}



/* 
SEZIONE FUNZIONALITA' 
 */

.colonne-funzionalità{
  height: 100%;
  margin-bottom: 100px;
}

.colonne-funzionalità .column{
  margin-bottom: 60px;
}

.column img{
  width: 90%;
  height: 90%;
}


.cta{
  margin-bottom: 50px;
}


/* 
SEZIONE STRONZA' 
 */

.testimonial-section{
  height:  30vw;
  color: blakc;
}



.colonna-testimonial{
  width: 30vw;
  text-align: center;
}

.colonna-centrale-testimonial{
  padding: 70px 50px;
  background-color: #F5F5F5;
  height: 30vw;
  overflow: scroll;
}



/* quadrati */

.square{
  height: width;
  width: 15vw;
  height: 15vw;
  line-height: 15vw;
  color: white;
}

.testimonial-section img{
  width: 100px;
  vertical-align: middle;
}

.red{
  background-color: #F51C1E;
}

.brown{
  background-color: #61082A;
}

.green{
  background-color: #A2D39B;
}

.blue{
  background-color: #0D2481;
}

.azzurro{
  background-color: #3093CE;
}

.celeste{
  background-color: #B4D0E7;
}

.yellow{
  background-color: #FBD830
}


/* colonna centrale */

.colonna-testo{
  width: 40vw;
}

.testimonial-section hr{
  margin-top: 15px;
  width:20%;
  color: gray;
  margin-bottom: 50px;
}

.testimonial-section p{
  margin-bottom: 50px;
}





/* 
SEZIONE CTA AZIENDA' 
 */

.agency-cta{
  background-color: #B4D0E7;
}

.container-agency-cta{
  padding: 120px 0;
  height: 300px;
}

.agency-cta h2{
  color: #61082A;
}

.agency-cta .agency-btn{
  vertical-align: middle;
}



/* 
SEZIONE DOMANDE FREQUENTI
 */

.faq-section{
  padding: 150px 0;
}

.faq-section h2{
  border-bottom: 1px solid gray;
  margin-bottom: 0px;
  padding-bottom: 40px;
}


.question{
  border-bottom: 1px solid gray;
  padding: 40px 0;
}

.question p{
  display: none;
}

.question:hover{
  display: inline-block;
}


/* 
FOOTER
*/

footer{
  background-color: black;
  color: white;
}

footer span{
  color: gray;
}

.nav-bar{
  padding-top: 80px;
  margin-bottom: 80px;
  height: 300px;
}

.footer-link{
  width: calc(100% / 5);
}

footer h4{
  margin-bottom: 20px;
}

footer ul li{
  list-style-type: none;
  margin-bottom: 10px;
}

footer ul li:hover{
  cursor: pointer;
  text-decoration: underline;
}

footer hr{
  width: 150px;
  margin-bottom: 30px;
  color: white;
}