
/* 
HEADER
*/

header{
  height: 80px;
  line-height: 80px;
}


/* logo */
header .logo{
  width: 12%;
  margin: 0px 10px;
}

header .logo img{
  vertical-align: middle;
}


/* menu */

header .menu{
  width: 35%;
}

header .start-button{
  width: 5%;
  margin-right: 15px;
}


/* decorazione testi menu */
header ul li{
  list-style: none;
  display: inline-block;
  padding-right: 25px;
}

header li:hover{
  border-bottom: 2px solid black;
}

header a{
  text-decoration: none;
  color: black;
}



/* 
MAIN
*/

/* hero-section */
.hero-section{
  background-color: #B4D0E7;
  padding: 80px 0;
  height: 600px;
  margin-bottom: 100px;
}

.text-description{
  width: 30%;
}

.img-description{
  width: 70%;
}

.img-description img{
  width: 100%;
}

.fa-arrow-down{
  font-size: 35px;
  color: black;
  text-transform: none;
  margin-bottom: 20px;
}



/* column-section */

.column-section{
  padding: 80px 0;
}


/* 
FOOTER
*/

footer{
  background-color: black;
}