
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}


.float-left{
  float: left;
  /* border: 1px solid; */
}

.float-right{
  float: right;
}





/* testi */

h1{
  font-size: 55px;
  margin-bottom: 40px;
}

h2{
  font-size: 28px;
  margin-bottom: 40px;
}

p{
  margin: 25px 0;
}

span{
  font-style: italic;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 30px
}