
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}


.float-left{
  float: left;
  /* border: 1px solid; */
}

.float-right{
  float: right;
}



/* testi */

h1{
  font-size: 55px;
  margin-bottom: 40px;
}

h2{
  font-size: 36px;
  margin-bottom: 40px;
}

h3{
  font-size: 28px;
}

h4{
  font-size: 20px;
}